{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div id="main-container">
    <div id="login-column">
        <div id="login-container">
            <p>Login</p>            
        </div>
        <div id="login-container-bottom">
            <form id="login" action="#" method="POST" autocomplete="off"><br><br>
                {% csrf_token %}
                {{ form.as_p}} 
                <!-- <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>-->
                <input type="submit" value="Login"> 
            </form>
        </div>
    </div>
</div>
{% endblock %}