body {
    background-image: url('/static/img/unknown.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
   
}

.navbar ul{
    list-style-type: none;
    margin: -8px;
    padding-right: 303px;
    overflow: hidden;
    background-color: #262525;
}

.navbar li{
    float: right;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.navbar li a:hover{
    background-color: #111;
}

.user-container{
    background-color: #262525;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 8px;
    max-width: 1300px;
    height: 23px;
    padding: 10px;
    box-shadow: 5px 5px 18px #000000;
}

.user-container p{
    color:white;
    float: left;
    margin-top: 2px;
    margin-left: 30px;
}

.main-container {
    background-color: #262525;
    width: 100%;
    margin:auto;
    max-width: 1300px;
    height: auto;
    padding: 10px;
    box-shadow: 5px 5px 18px #000000;
}

.left-column {
    width: 74%;
    max-width: 1300px;
    display: inline-block;
}

.right-column {
    width: 25%;
    max-width: 1300px;
    display: inline-block;
    vertical-align: top;
}

.left-top {
    background-color:#434343;
    border-color:#707070;
    border-style: solid;
    border-width: thin;
    height: 30px;
}

.left-top p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 7px;
    font-weight: bold;
}

.left-bottom {
    background-color: #363636;
    border-color:#707070;
    border-style: solid;
    border-width: thin;
    height:auto;
    margin-bottom: 5px;
}

.left-bottom p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 7px;
    padding: 1em;
}

.announcement {
    display: block;
}

.announcement p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: -5px;
    padding: 1em;
}

.announcement h3{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    margin-top: -15px;
    margin-left: 8px;
}

.announcement h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 8px;
    
}

.announce-header {
    display: flex;
}

.announce-header img {
    margin-top: 10px;
    margin-left: 20px;
    height: 10%;
    width: 10%;
    border: 3px solid #707070;
}

hr.solid{
    border-top: 1px solid #bbb;
    margin-left: 10px;
    margin-right: 10px;
}

.right-top{
    background-color:#434343;
    border-color:#707070;
    border-style: solid;
    border-width: thin;
    height:30px;
}

.right-top p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 7px;
    font-weight: bold;
}

.right-bottom{
    background-color: #363636;
    border-color:#707070;
    border-style: solid;
    border-width: thin;
    height:auto;
    margin-bottom: 5px;
}

.User{
    display: flex;
}

.User img{
    margin-top: 10px;
    margin-left: 8px;
    height: 10%;
    width: 10%;
    border: 1px solid #707070;
}

.user-details{
    display: inline-block;
    width: 80%;
    margin-top: 3px;
}

.user-details p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    float: right;
}

.user-details h4{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    float: left;
    margin-left: 5px;
}

.Post{
    display: flex;
}

.Post img{
    margin-top: 10px;
    margin-left: 8px;
    height: 10%;
    width: 10%;
    border: 1px solid #707070;
}

.post-details{
    display: inline-block;
    width: 80%;
    margin-top: 3px;
}

.post-details p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    float: right;
}

.post-details h4{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    float: left;
    margin-left: 5px;
}